<h2>Search country by region</h2>
<hr>

<div class="row">
  <div class="col text-center">
    <button *ngFor="let region of regions"
    (click)="searchByRegion(region)"
    class="btn mx-2"
    [ngClass]="{ 'btn-outline-primary': region === currentRegion }">
      {{ region }}
    </button>
  </div>
</div>

<hr>

<div class="row">
  <div class="col">
    <!-- Bottom rigth loading animation -->
    <shared-loader *ngIf="isLoading === true"></shared-loader>
    <!-- Table with the information -->
    <countries-table [countries]="countriesList" ></countries-table>
  </div>
</div>
