<h2>Search country by capital</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- Search box -->
    <shared-search-box
    (onDebounce)="searchByCapital($event)"
    [storedValue]="storedValue"
    placeholder="Search country. . ."></shared-search-box>
  </div>
</div>

<hr>

<div class="row">
  <div class="col">
    <!-- Bottom rigth loading animation -->
    <shared-loader *ngIf="isLoading === true"></shared-loader>
    <!-- Table with the information -->
    <countries-table [countries]="countriesList" ></countries-table>
  </div>
</div>
